<nav class="container-nav">
<ul>
  <li>
    <a  [routerLink]="['/inicio']">
      <img src="img/home-icon.svg" alt="Home">Home
    </a>
  </li>
  <li>
    <a>
      <img src="img/search-icon.svg" alt="Search">Buscar
    </a>
  </li>
  <li>
    <a  [routerLink]="['/create-post']" >
      <img class="add" src="img/plus-circle-icon.svg" alt="Add">
    </a>
  </li>
  <li>
    <a >
      <img src="img/heart-icon.svg" alt="Favorite">
      Favoritos
    </a>
  </li>
  <li>
    <a [routerLink]="['/perfil-user']" >
      <img src="img/ellipse-icon.svg" alt="Perfil">Perfil
    </a>
  </li>
</ul>
</nav>
