.container-nav {
	width: 100%;
  min-height: 5vh;
	/* position: fixed;
	bottom: 0vh; */
}

.container-nav ul {
	min-width: 320px;
	max-width: 630px !important;
  /* min-height: 100%; */
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
  padding: 0 2rem;
}

.container-nav li {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
  flex-grow: 1;
  text-align: center;
}

.container-nav a{
  font-weight: 500;
  font-size: 12px;
  
}

.container-nav img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.container-nav img.add {
	margin-bottom: 0.5rem;
}
