<nav class="container-nav">
<ul>
  <li>
    <a href="" [routerLink]="['']">
      <img src="img/home-icon.svg" alt="Home">Home
    </a>
  </li>
  <li>
    <a href="">
      <img src="img/search-icon.svg" alt="Search">Buscar
    </a>
  </li>
  <li>
    <a href="">
      <img class="add" src="img/plus-circle-icon.svg" alt="Add">
    </a>
  </li>
  <li>
    <a href="">
      <img src="img/heart-icon.svg" alt="Favorite">
      Favoritos
    </a>
  </li>
  <li>
    <a href="">
      <img src="img/ellipse-icon.svg" alt="Perfil">Perfil
    </a>
  </li>
</ul>
</nav>
