.container-main {
	margin: 0 auto;
	min-width: 320px;
	max-width: 630px;
	min-height: 90vh;
	text-align: center;
	padding: 0 2rem;
}

/* ! Estilos de la cabecera */
.header {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
}

.header h2 {
	font-weight: 500;
}

.header .descripcion {
	font-size: 14px;
	font-weight: 500;
}

.header a {
	font-size: 14px;
	font-weight: 600;
	color: #5482f6;
}

.photo-user {
	align-self: center;
}

.photo-user img {
	width: 90px;
	height: 90px;
	border: thick solid #5482f6;
	border-radius: 50%;
}

.statistics {
	display: flex;
	justify-content: space-evenly;
}

.statistics article {
	font-size: 14px;
	margin: 0.2rem;
}

.statistics b {
	display: block;
}

/* ! Estilos del Contendido */
.content {
	height: 60vh;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	gap: 4px;

	overflow: auto;
	scrollbar-width: none;

  padding: 1rem;
}

.content img {
	width: 100%;
	height: 100%;
}
