.custom-checkbox {
    -webkit-appearance: none;
    appearance: none; 
    width: 24px;
    height: 24px;
    border: 1.5px solid #3b82f6; 
    border-radius: 4px; 
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
    background-color: transparent; 
    border-color: #3b82f6; 
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px; 
    height: 7px;
    border: solid #22c55e; 
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
}
