.container-post{
  position: relative;
}


.container-post input[type="file"]{
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  opacity: 0;
  cursor: pointer;
  
}

.container-post img{
  object-fit: cover;
  width: 95%;
  height: 95%;
}